<section class="banner" style="background-image: url('images/6.jpg')">
	<div class="overlay">
		<div class="container">
			<div class="first">About Us At </div><br/>
			<div class="second">MacGregor Heritage Foundation.</div>
		</div>
	</div>

</section>

<section class="mission">
	<div class="container">
		<div class="m-wrap extra">
			<p>
                The MacGregor Heritage Foundation is a not-for-profit charitable organization dedicated to providing support for children through education and healthcare. At the core of its mission is the principle of empowerment and poverty alleviation. 
            </p>
            <p>
                The Foundation was established in 2018 by Professor (Dr.) Alexander O. MacGregor, a world-renown pharmaceutical technology expert, educator and successful business entrepreneur. Professor MacGregor's charitable heritage can be traced back to over 150 years of philanthropy started by his grand-father, Chief (Captain) G.B. MacGregor(ca.1863-1965), a World-War I veteran in the late nineteenth century and which continued with his father, Chief Harry Adebisi MacGregor (ca.1934-2011), an investigative journalist and merchant industrialist in the late twentieth and early twenty-first century. 
            </p>
            <p class="title">
                MacGregor Heritage Children's Foundation (MHCF)
            </p>
            <p>
                MacGregor Heritage Children's Foundation is an international relief and development organization dedicated to working and providing education to children from impoverished families and communities to overcome poverty and unjust marginalization.
            </p>
            <p class="title">
                Our Mission
            </p>
            <p>
                To empower and create a future of hope for children, by helping them develop the skills and resources to overcome poverty and pursue prosperity for their familiesand communities. 
            </p>
            <p class="title">
                Our Vision
            </p>
            <p>
                We envision of a world where every child, regardless of their socio-economic status, has a voice and the ability to achieve their full potential.
            </p>
		</div>
		</div>
	</div>
</section>