<section class="banner" style="background-image: url('images/10.jpg')">
	<div class="overlay">
		<div class="container">
			<div class="first">Sponsor a Child</div><br/>
			<div class="second">Save a Life</div>
		</div>
	</div>

</section>

<section class="mission">
	<div class="container">
		<div class="m-wrap extra">
            <p class="title">
                <strong>Become a donor</strong>
            </p>
			<p>
                There are many ways you help us deepen and expand our work. You can:
            </p>

            <ul>
                <li>Sponsor a child or two.</li>
                <li>Transform a community with a Major Gift.</li>
                <li>Change the lives of future generations by leaving a Legacy Gift.</li>
                <li>Lead by being a Corporate Sponsor.</li>
            </ul>

            <p>
                You can also support MHCF by guest speaking at our events, helping to raise awareness, and volunteering here
            </p>

            <p>
                Your support of MHCF protects and improves the lives of children by helping them realize their basic human rights - education and nutritional health care. You empower children to grow up confident, know their rights, armed with skills to be active in their community, and take the lead in their own change. 
            </p>

            <p>
                    MHCF inspires children, families and communities in Nigeria and other developing countries to build a better and brighter future. With your support, we are improving and enabling safety, security and health of children, and creating a world where they can see beyond poverty and take the lead in their own change.
            </p>
            <p class="title">
                <strong>Sponsor a Child Today!</strong>
            </p>
            <p>
                When you sponsor a child, you'll be personally connected with a boy or girl who will know your name and treasure the thought that you care. Your support of $30 per month provides life-changing opportunities such as:
            </p>
            <ul>
                <li>Opportunity to attend or stay in school</li>
                <li>Medical care, which often saves lives</li>
                <li>Nourishing food and healthy nutrition</li>
                <li>Tutoring and mentoring in a safe environment </li>
                <li>Most importantly, opportunities to empower a Child.</li>
            </ul>

            <div class="sponsor-wrap">
                <a class="child-sponsor" target="_blank" href="https://dashboard.paystack.com/#/dashboard?period=30">Become a donor</a>
            </div>
		</div>
		</div>
	</div>
</section>