<section class="banner" style="background-image: url('images/4.jpg')">
	<div class="overlay">
		<div class="container">
			<div class="first">Providing the needed support for a </div><br/>
			<div class="second">sound future.</div>
		</div>
	</div>

</section>

<section class="mission">
	<div class="container">
		<div class="m-wrap extra">
            <p class="title">
                <strong>Feed-a-Child</strong>
            </p>
			<p>
                With proper nutrition early in life, children can grow, develop and thrive to their full potential. With our team and partners, we believe in the basic need to be fed, we collaborate to innovate solutions and missions that help this cause.
            </p>

            <p>
                Feed-a-Child exists to end childhood hunger. It’s the one of the most important causes upon which we were founded and the one that we continue to fight for each and every day. We know it takes the power of many to end childhood hunger for good. We connect donors, partners and communities to attack the problem from all together.
            </p>

            <p>
                Our stand is that we shall continue to push until every child has enough to eat.
            </p>
		</div>
		</div>
	</div>
</section>

<section class="project big">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img" style="background-image: url('images/6.jpg')">
                        <div class="overlay">We are committed to child protection from all forms fo abuse and crime and work across our environments to support cases of fight against child abuse.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img" style="background-image: url('images/7.jpg')">
                        <div class="overlay">
                            Every child deserves a safe and clean environment to develop and grow healthy. We care about healthier and safe commmunities for children
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img" style="background-image: url('images/8.jpg')">
                        <div class="overlay">
                            We work with the girl child in her quest for quality education, good health and sound mind to give her the power to succeed
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img" style="background-image: url('images/9.jpg')">
                        <div class="overlay">
                            Our feed-a-child outreach initiatives help to provide children of all age range with healthy nutrition, required for their sound health and growth
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            Allow God to work through you in the life of a child in poverty. <strong>Sponsor a child</strong>, today!
        </div>
    </div>
</section>