<section class="banner" style="background-image: url('images/3.jpg')">
	<div class="overlay">
		<div class="container">
			<div class="first">Providing the needed support for a </div><br/>
			<div class="second">sound future.</div>
		</div>
	</div>

</section>

<section class="mission">
	<div class="container">
		<div class="m-wrap extra">
            <p class="title">
                <strong>Child Health and Environmental Safety</strong>
            </p>
			<p>
                We want more healthy children. So we make sure that our community projects drive the much needed knowledge, required to foster healthy environments and communities that aid the healthy development of children in safe and hygienic ways. We involve children, young people and community leaders in all that we do in this regard.  With the support of our partners, we are able to distribute basic health materials such as mosquito nets, water treatment solutions, basic drugs and key health materials necessary to ensure that our communities are safer for children and all at large.
            </p>

		</div>
		</div>
	</div>
</section>

<section class="project big">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img" style="background-image: url('images/6.jpg')">
                        <div class="overlay">We are committed to child protection from all forms fo abuse and crime and work across our environments to support cases of fight against child abuse.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img" style="background-image: url('images/7.jpg')">
                        <div class="overlay">
                            Every child deserves a safe and clean environment to develop and grow healthy. We care about healthier and safe commmunities for children
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img" style="background-image: url('images/8.jpg')">
                        <div class="overlay">
                            We work with the girl child in her quest for quality education, good health and sound mind to give her the power to succeed
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img" style="background-image: url('images/9.jpg')">
                        <div class="overlay">
                            Our feed-a-child outreach initiatives help to provide children of all age range with healthy nutrition, required for their sound health and growth
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            Allow God to work through you in the life of a child in poverty. <strong>Sponsor a child</strong>, today!
        </div>
    </div>
</section>