<section class="banner" style="background-image: url('images/1.jpg')">
	<div class="overlay">
		<div class="container">
			<div class="first">Together, creating a future of hope</div><br/>
			<div class="second">for our children.</div>
		</div>
	</div>
</section>

<section class="mission">
	<div class="container">
		<div class="m-wrap">
			<div class="row">
			<div class="col-md-4 offset-md-2">
				<div class="mission-wrap">
					<div class="title">Our Mission</div>
					<div class="mission-content">
						To empower and create a future of hope for children, by helping them develop the skills and resources to overcome poverty and pursue prosperity for their familiesand communities. 
					</div>
				</div>
			</div>
			<div class="col-md-5 pl-0">
				<div class="content">
						The Foundation was established in 2018 by <strong>Professor (Dr.) Alexander O. MacGregor</strong>, a world-renown pharmaceutical technology expert, educator and successful business entrepreneur. Professor MacGregor's charitable heritage can be traced back to over 150 years of philanthropy started by his grand-father, <strong>Chief (Captain) G.B. MacGregor</strong>(ca.1863-1965), a World-War I veteran
				</div>
				<a class="read-more" href="#">read more</a>
			</div>
			<div class="col-md-1"></div>
		</div>
		</div>
	</div>
</section>

<section class="project">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="img" style="background-image: url('images/2.jpg')"></div>
				<a class="action" href="#">Education outreach</a>
			</div>
			<div class="col-md-4">
				<div class="img" style="background-image: url('images/3.jpg')"></div>
				<a class="action" href="#">Health project</a>
			</div>
			<div class="col-md-4">
				<div class="img" style="background-image: url('images/4.jpg')"></div>
				<a class="action" href="#">Feed-a-child</a>
			</div>
		</div>
		<div class="info">
			We are a non-profit registered charity advancing the quality of life for children in developing countries in three key areas: <strong>education, health</strong> and <strong>nutrition</strong>. Thus, providing a strengthened community and sustainable livelihood development. <a class="see-more" href="#">See more of how we work.</a>
		</div>
	</div>
</section>
