<section class="banner" style="background-image: url('images/7.jpg')">
	<div class="overlay">
		<div class="container">
			<div class="first">About Us At </div><br/>
			<div class="second">MacGregor Heritage Foundation.</div>
		</div>
	</div>

</section>

<section class="mission">
	<div class="container">
		<div class="m-wrap extra">
			<p>
                We are a not-for-profit registered charity advancing the quality of life for children in developing countries in three key areas: <strong>education, health and nutrition</strong>. 
            </p>

            <p>
                For over a century, since the early 1900, The MacGregor Clan in Abeokuta, have been ambassadors of community empowerment in Nigeria and now the MHCF is organized to continue this legacy by changing the world, one child at a time. Our key areas of focus are Education, Child Health and our Feed-a-child projects.
            </p>

            <p>
                Every year, the mandate of MHCG is to improve the quality of life of more than 1,000 children in vulnerable communities around the world. We are organized to commence work in Nigeria, Ghana, and Latin America. We believe every child should be given an enabling tool to learn, grow, laugh, play and develop a fighting chance to be their best and become positive assets to their families and community at large.
            </p>
		</div>
		</div>
	</div>
</section>