<section class="banner" style="background-image: url('images/7.jpg')">
	<div class="overlay">
		<div class="container">
			<div class="first">What We Do At </div><br/>
			<div class="second">MacGregor Heritage Foundation.</div>
		</div>
	</div>

</section>

<section class="mission">
	<div class="container">
		<div class="m-wrap extra">
			<p>
                We are a not-for-profit registered charity advancing the quality of life for children in developing countries in three key areas: <strong>education, health and nutrition</strong>. 
            </p>

            <p>
                For over a century, since the early 1900, The MacGregor Clan in Abeokuta, have been ambassadors of community empowerment in Nigeria and now the MHCF is organized to continue this legacy by changing the world, one child at a time. Our key areas of focus are Education, Child Health and our Feed-a-child projects.
            </p>

            <p>
                Every year, the mandate of MHCG is to improve the quality of life of more than 1,000 children in vulnerable communities around the world. We are organized to commence work in Nigeria, Ghana, and Latin America. We believe every child should be given an enabling tool to learn, grow, laugh, play and develop a fighting chance to be their best and become positive assets to their families and community at large.
			</p>
			<p class="title">
				<strong>Our Program Sectors</strong>
			</p>
			<p>
				MHCF helps communities be safer and healthier places for children to grow and develop using a holistic approach across multiple sectors and needs. We partner with communities to eliminate barriers to education and improve access to nutritional health care; and empower local community groups to lead their own positive change.
			</p>
			<p>
					We focus on achievable priorities: education and nutritional health care. Our direct grassroots approach will provide sustainable program with measurable outcomes. Throughout all of our program sectors, we emphasize and partner with parents and guardians to ensure commitment to Child Protection, Gender Equality, and Conducive Environment—giving children the additional support they need to thrive, live in peace and safety while receiving support from the foundation. Together, these are the essentials of life and necessary for success.
			</p>
		</div>
		</div>
	</div>
</section>