body {
  position: relative;
  font-family: 'Lora', serif;
}
a {
  text-decoration: none;
}
html {
  font-size: 15px;
}
.pl-0 {
  padding-left: 0;
}
.p-0 {
  padding: 0;
}
#main {
  overflow: hidden;
}
header {
  width: 100%;
  height: auto;
  padding: 20px 0 0 0;
}
header .logo-sec {
  text-align: center;
}
header .logo-sec img {
  width: 110px;
  margin-bottom: 20px;
}
header nav {
  width: 100%;
  background-color: #ffbc36;
  color: black;
}
header nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  display: inline-block;
  margin-left: 20px;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}
header nav ul li a:hover {
  color: #000;
  text-decoration: none;
}
header nav ul li a:after {
  content: " ";
  right: -11px;
  position: absolute;
  top: 9px;
  font-size: 26px;
  border-right: 1px solid #000;
  height: 60%;
}
header nav ul li:last-child a:after {
  content: "";
  border: none;
}
header nav ul li.active a {
  color: #fff;
  font-weight: 600;
}
header .menu-icon {
  position: absolute;
  right: 2em;
  top: 4em;
  cursor: pointer;
}
header .menu-icon i {
  font-size: 30px;
}
.mobile-menu-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 188, 54, 0.85);
  z-index: 10;
  text-align: center;
  display: none;
}
.mobile-menu-wrap.home {
  padding: 60px 30px;
  overflow: auto;
}
.mobile-menu-wrap .cancel {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}
.mobile-menu-wrap .cancel i {
  font-size: 40px;
  color: #fff;
}
.mobile-menu-wrap ul {
  margin: 0;
  padding: 0;
}
.mobile-menu-wrap ul li {
  display: block;
  padding-bottom: 20px;
}
.mobile-menu-wrap ul li a {
  display: block;
  font-size: 30px;
  color: #fff;
}
.banner {
  position: relative;
  width: 100%;
  height: 520px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 10px solid;
}
.banner .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  text-align: center;
}
.banner .overlay .first {
  background: rgba(255, 188, 54, 0.8);
  padding: 10px 40px;
  margin: auto;
  display: inline-block;
  margin-top: 10em;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 16px;
}
.banner .overlay .second {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 40px;
  margin: auto;
  color: #fff;
  display: inline-block;
  font-weight: 600;
}
.mission .m-wrap {
  border-bottom: 1px solid #e0b78d;
  padding: 2em 0em;
}
.mission .m-wrap.extra {
  padding: 5em 0em;
}
.mission .m-wrap p {
  font-size: 17px;
}
.mission .m-wrap p.title {
  font-style: italic;
  color: #373435;
}
.mission .m-wrap ul li {
  font-size: 17px;
  padding-bottom: 10px;
}
.mission .m-wrap .sponsor-wrap {
  text-align: center;
  margin-top: 4em;
}
.mission .m-wrap .child-sponsor {
  background: #ffbc36;
  color: #fff;
  padding: 15px 50px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}
.mission .mission-wrap {
  text-align: center;
  font-size: 17px;
  font-style: italic;
  padding-right: 1em;
  margin-bottom: 2em;
}
.mission .mission-wrap .title {
  position: relative;
  font-weight: 600;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .mission .mission-wrap {
    text-align: right;
    border-right: 1px solid #e0b78d;
    font-size: 17px;
    font-style: italic;
    padding-right: 1em;
    margin-bottom: 0;
  }
  .mission .mission-wrap .title {
    position: relative;
    font-weight: 600;
    padding-bottom: 15px;
  }
  .mission .mission-wrap .title:after {
    content: "";
    position: absolute;
    border-top: 1px solid #e0b78d;
    width: 14%;
    bottom: 8px;
    right: 0;
  }
}
.mission .content {
  position: relative;
  font-size: 16px;
  padding: 0 10px 10px 10px;
}
@media (min-width: 768px) {
  .mission .content {
    position: relative;
    font-size: 16px;
    padding: 0 0 10px 0;
  }
}
.mission a.read-more {
  display: block;
  color: #e0b78d;
  font-style: italic;
  font-size: 14px;
  padding: 10px;
}
@media (min-width: 768px) {
  .mission a.read-more {
    display: block;
    color: #e0b78d;
    font-style: italic;
    font-size: 14px;
    padding: 0;
  }
}
.project {
  text-align: center;
  padding: 2em 0em;
}
.project .img {
  position: relative;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  border: 8px solid #ffbc36;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-bottom: 20px;
}
.project .action {
  display: inline-block;
  padding: 5px 35px;
  color: #000;
  border-radius: 15px;
  background: #ffbc36;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .project .action {
    display: inline-block;
    padding: 5px 35px;
    color: #000;
    border-radius: 15px;
    background: #ffbc36;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 0;
  }
}
.project .info {
  margin-top: 30px;
  border-bottom: 1px solid #e0b78d;
  padding-bottom: 30px;
}
.project .info .see-more {
  font-size: 16px;
  font-style: italic;
  color: inherit;
}
.project.big {
  margin-top: 50px;
}
.project.big .img {
  position: relative;
  width: 23em;
  height: 23em;
  border-radius: 50%;
  border: 10px solid #ffbc36;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-bottom: 40px;
}
.project.big .img .overlay {
  position: absolute;
  width: 23em;
  height: 23em;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  border: 10px solid transparent;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 8rem 17px;
  font-weight: 600;
}
.sub-section {
  background: #000;
  min-height: 5rem;
  color: #fff;
  padding-top: 20px;
}
.sub-section .newsletter-form {
  padding: 10px;
}
.sub-section .newsletter-form label {
  line-height: 27px;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .sub-section .newsletter-form label {
    line-height: 27px;
    text-align: left;
    margin-bottom: 0px;
  }
}
.sub-section .newsletter-form input {
  border-radius: 20px;
}
@media (min-width: 768px) {
  .sub-section .newsletter-form {
    padding: 0;
  }
  .sub-section .newsletter-form label {
    line-height: 27px;
  }
  .sub-section .newsletter-form input {
    border-radius: 20px;
  }
}
.sponsor-a-child {
  position: relative;
  height: auto;
}
.sponsor-a-child .img-sec {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  -webkit-clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);
}
.sponsor-a-child .info-sec {
  position: relative;
  background: #ffbc36;
  width: 100%;
  z-index: -1;
  padding: 3rem;
  text-align: center;
}
.sponsor-a-child .info-sec .info-text {
  margin-top: 0rem;
  padding: 0 3rem;
  text-align: center;
  font-size: 17px;
  position: relative;
}
.sponsor-a-child .info-sec .info-text:after {
  content: "";
}
@media (min-width: 768px) {
  .sponsor-a-child .info-sec {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffbc36;
    width: 70%;
    z-index: -1;
    padding: 3rem 13rem;
    text-align: inherit;
  }
  .sponsor-a-child .info-sec .info-text {
    margin-top: 6rem;
    padding: 0 8rem;
    text-align: center;
    font-size: 17px;
    position: relative;
  }
  .sponsor-a-child .info-sec .info-text:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 15%;
    border-bottom: 1px solid #000;
    left: 19rem;
    top: 4.5rem;
  }
}
@media (min-width: 768px) {
  .sponsor-a-child {
    height: 300px;
  }
}
footer {
  height: 5rem;
  line-height: 5rem;
  border-bottom: 5px solid #efefef;
}
footer .copywrite {
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  footer .copywrite {
    position: relative;
    text-align: left;
  }
}
footer .social ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
footer .social ul li {
  display: block;
  margin-left: 20px;
}
footer .social ul li.with-icon {
  line-height: 25px;
  display: inline-block;
}
footer .social ul li.with-icon a {
  text-decoration: none;
  border: 2px solid #ffbc36;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #ffbc36;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}
footer .social ul li.with-icon a i {
  vertical-align: top;
  line-height: 25px;
}
@media (min-width: 768px) {
  footer .social ul {
    text-align: right;
  }
  footer .social ul li {
    display: inline-block;
  }
  footer .social ul li.with-icon a {
    margin-bottom: 0px;
  }
}
#gallery {
  padding-top: 40px;
}
@media screen and (min-width: 991px) {
  #gallery {
    padding: 60px 30px 0 30px;
  }
}
.img-wrapper {
  position: relative;
  margin-top: 15px;
}
.img-wrapper img {
  width: 100%;
}
.img-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.img-overlay i {
  color: #fff;
  font-size: 3em;
}
#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#overlay img {
  margin: 0;
  width: 80%;
  height: auto;
  object-fit: contain;
  padding: 5%;
}
@media screen and (min-width: 768px) {
  #overlay img {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  #overlay img {
    width: 50%;
  }
}
#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#nextButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #nextButton {
    font-size: 3em;
  }
}
#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#prevButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #prevButton {
    font-size: 3em;
  }
}
#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
}
#exitButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #exitButton {
    font-size: 3em;
  }
}
