body{
    position: relative;
    font-family: 'Lora', serif;
}
a{
    text-decoration: none;
}
html{
    font-size: 15px;
}
.pl-0{
    padding-left: 0;
}
.p-0{
    padding: 0;
}
#main{
    overflow: hidden;
}
header{ 
    width: 100%;
    height: auto;
    padding: 20px 0 0 0;
    .logo-sec{
        text-align: center;
        img{
            width: 110px;
            margin-bottom: 20px;
        }
    }
    nav{
        width: 100%;
        background-color: #ffbc36;
        color: black;
        ul{
            margin: 0;
            padding: 0;
            text-align: center;
            width: 100%;
            li{
                display: inline-block;
                a{
                    display: inline-block;
                    margin-left: 20px;
                    color: black;
                    padding: 10px;
                    text-decoration: none;
                    font-weight: 500;
                    position: relative;
                    &:hover{
                        color: #000;
                        text-decoration: none;
                    }
                    &:after{
                        content: " ";
                        right: -11px;
                        position: absolute;
                        top: 9px;
                        font-size: 26px;
                        border-right: 1px solid #000;
                        height: 60%;
                    }
                    
                }
                &:last-child{
                    a{
                        &:after{
                            content: "";
                            border: none;
                        }
                    }
                }
                &.active{
                    a{
                        color: #fff;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .menu-icon{
        position: absolute;
        right: 2em;
        top: 4em;
        cursor: pointer;
        i{
            font-size: 30px;
        }
    }
}
.mobile-menu-wrap{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 188, 54, 0.85);
    z-index: 10;
    text-align: center;
    display: none;
    &.home{
        padding: 60px 30px;
        overflow: auto;
    }
    .cancel{
        position: absolute;
        top: 10px;
        right: 30px;
        cursor: pointer;
        i{
            font-size: 40px;
            color: #fff;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            display: block;
            padding-bottom: 20px;
            a{
                display: block;
                font-size: 30px;
                color: #fff;
            }
        }
    }
}
@media (min-width: 768px) {
    
}
.banner{
    position: relative;
    width: 100%;
    height: 520px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid;
    .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        text-align: center;
        .first{
            background: rgba(255, 188, 54, 0.8);
            padding: 10px 40px;
            margin: auto;
            display: inline-block;
            margin-top: 10em;
            margin-bottom: 1em;
            font-weight: 600;
            font-size: 16px;
        }
        .second{
            background: rgba(0, 0, 0, 0.8);
            padding: 10px 40px; 
            margin: auto;
            color: #fff;
            display: inline-block;
            font-weight: 600;
        }
    }
}

.mission{
    .m-wrap{
        border-bottom: 1px solid #e0b78d;
        padding: 2em 0em;
        &.extra{
            padding: 5em 0em;  
        }
        p{
            font-size: 17px;
        }
        p.title{
            font-style: italic;
            color: #373435;
        }
        ul{
            li{
                font-size: 17px;
                // display: block;
                padding-bottom: 10px;
            }
        }
        .sponsor-wrap{
            text-align: center;
            margin-top: 4em;
        }
        .child-sponsor{
            background: #ffbc36;
            color: #fff;
            padding: 15px 50px;
            border-radius: 5px;
            font-weight: 600;
            text-decoration: none;
            font-size: 16px;
        }
    }
    .mission-wrap{
        text-align: center;
        font-size: 17px;
        font-style: italic;
        padding-right: 1em;
        margin-bottom: 2em;
        .title{
            position: relative;
            // font-family: 'Parisienne', cursive;
            font-weight: 600;
            padding-bottom: 15px;
        }
        
    }
    @media (min-width: 768px) {
        .mission-wrap{
            text-align: right;
            border-right: 1px solid #e0b78d;
            font-size: 17px;
            font-style: italic;
            padding-right: 1em;
            margin-bottom: 0;
            .title{
                position: relative;
                // font-family: 'Parisienne', cursive;
                font-weight: 600;
                padding-bottom: 15px;
                &:after{
                    content: "";
                    position: absolute;
                    border-top: 1px solid #e0b78d;
                    width: 14%;
                    bottom: 8px;
                    right: 0;
                }
            }
            
        }
    }
    .content{
        position: relative;
        font-size: 16px;
        padding: 0 10px 10px 10px;
    }
    @media (min-width: 768px) {
    .content{
        position: relative;
        font-size: 16px;
        padding: 0 0 10px 0;
    }
    }
    a.read-more{
        display: block;
        color: #e0b78d;
        font-style: italic;
        font-size: 14px;
        padding: 10px;
    }
    @media (min-width: 768px) {
        a.read-more{
            display: block;
            color: #e0b78d;
            font-style: italic;
            font-size: 14px;
            padding: 0;
        } 
    }
}

.project{
    text-align: center;
    padding: 2em 0em;
    .img{
        position: relative;
        width: 20em;
        height: 20em;
        border-radius: 50%;
        border: 8px solid #ffbc36;
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        margin-bottom: 20px;
    }
    .action{
        display: inline-block;
        padding: 5px 35px;
        color: #000;
        border-radius: 15px;
        background: #ffbc36;
        text-decoration: none;
        font-size: 15px;
        margin-bottom: 2rem;
    }
    @media (min-width: 768px) {
        .action{
            display: inline-block;
            padding: 5px 35px;
            color: #000;
            border-radius: 15px;
            background: #ffbc36;
            text-decoration: none;
            font-size: 15px;
            margin-bottom: 0;
        }
    }
    .info{
        margin-top: 30px;
        border-bottom: 1px solid #e0b78d;
        padding-bottom: 30px;
        .see-more{
            // font-family: 'Parisienne', cursive;
            font-size: 16px;
            font-style: italic;
            color: inherit
        }
    }
    &.big{
        margin-top: 50px;
        .img{
            position: relative;
            width: 23em;
            height: 23em;
            border-radius: 50%;
            border: 10px solid #ffbc36;
            background-position: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            margin: auto;
            margin-bottom: 40px;
            .overlay{
                position: absolute;
                right: 0;
                width: 23em;
                height: 23em;
                border-radius: 50%;
                top: -10px;
                left: -10px;
                border: 10px solid transparent;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
                color: #fff;
                padding: 8rem 17px;
                font-weight: 600;
            }
        }
    }
}

.sub-section{
    background: #000;
    min-height: 5rem;
    color: #fff;
    padding-top: 20px;
    .newsletter-form{
        padding: 10px;
        label{
            line-height: 27px;
            text-align: center;
            margin-bottom: 10px;
        }
        @media (min-width: 768px){
            label{
                line-height: 27px;
                text-align: left;
                margin-bottom: 0px;
            }
        }
        input{
            border-radius: 20px;
        }
    }
    @media (min-width: 768px){
        .newsletter-form{
            padding: 0;
            label{
                line-height: 27px;
            }
            input{
                border-radius: 20px;
            }
        }
    }
}

.sponsor-a-child{
    position: relative;
    height: auto;
    .img-sec{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 40%;
        -webkit-clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);
    }
    .info-sec{
        position: relative;
        background: #ffbc36;
        width: 100%;
        z-index: -1;
        padding: 3rem;
        text-align: center;
        .info-text{
            margin-top: 0rem;
            padding: 0 3rem;
            text-align: center;
            font-size: 17px;
            position: relative;
            &:after{
                content: "";
                
            }
        }
    }
    @media (min-width: 768px){
        .info-sec{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background: #ffbc36;
            width: 70%;
            z-index: -1;
            padding: 3rem 13rem;
            text-align: inherit;
            .info-text{
                margin-top: 6rem;
                padding: 0 8rem;
                text-align: center;
                font-size: 17px;
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 15%;
                    border-bottom: 1px solid #000;
                    left: 19rem;
                    top: 4.5rem;
                }
            }
        }
    }
}

@media (min-width: 768px){
    .sponsor-a-child{
        height: 300px;
    }
}

footer{
    height: 5rem;
    line-height: 5rem;
    border-bottom: 5px solid #efefef;
    .copywrite{
        position: relative;
        text-align: center;
    }
    @media (min-width: 768px){
        .copywrite{
            position: relative;
            text-align: left
        }
    }

    .social{
        ul{
            margin: 0;
            padding: 0;
            text-align: center;
            li{
                display: block;
                margin-left: 20px;
                
                &.with-icon{
                    line-height: 25px;
                    a{
                        text-decoration: none;
                        border: 2px solid #ffbc36;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        color: #ffbc36;
                        display: inline-block;
                        text-align: center;
                        margin-bottom: 10px;
                        i{
                            vertical-align: top;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
        @media (min-width: 768px){
            ul{
                text-align: right;
                li{
                    display: inline-block;
                    &.with-icon{
                        a{
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

#gallery {
    padding-top: 40px;
    @media screen and (min-width: 991px) {
      padding: 60px 30px 0 30px;
    }
  }
  
  .img-wrapper {
    position: relative;
    margin-top: 15px;
    img {
      width: 100%;
    }
  }
  .img-overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    i {
      color: #fff;
      font-size: 3em;
    }
  }
  
  #overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    // Removes blue highlight
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none; 
    user-select: none; 
    img {
      margin: 0;
      width: 80%;
      height: auto;
      object-fit: contain;
      padding: 5%;
      @media screen and (min-width:768px) {
          width: 60%;
      }
      @media screen and (min-width:1200px) {
          width: 50%;
      }
    }
  }
  
  #nextButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (min-width:768px) {
      font-size: 3em;
    }
  }
  
  #prevButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (min-width:768px) {
      font-size: 3em;
    }
  }
  
  #exitButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (min-width:768px) {
      font-size: 3em;
    }
  }